/* Mian stylesheet file */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');

@import "variables";

@import "./base";
@import "./logo";
@import "footer";
@import "forms";
@import "cube";
@import "emptyComponent";
@import "spinner";

@import "/homePage/homePageMenu";
@import "/homePage/homePageHeader";
@import "/homePage/homePageBanner";
@import "/homePage/homePageAboutCourse";
@import "/homePage/homePageOffer";
@import "/homePage/homePageCreators";
@import "/homePage/creatorsSinglePerson";
@import "/homePage/creatorsSocialMedia";
@import "/homePage/homePageContact";
@import "/homePage/login";
@import "/homePage/register";

@import "/coursePage/coursePageHeader";
@import "/coursePage/coursePage";
@import "/coursePage/coursePageSlider";
@import "/coursePage/coursePageMiddle";
@import "/coursePage/coursePageSidebarLeft";
@import "/coursePage/gameCategory";
@import "/coursePage/flashcards";
@import "/coursePage/quizView";
@import "/coursePage/settings";
@import "/coursePage/hangman";
@import "/coursePage/stepper";

@import "/adminPage/adminPanel";
@import "/adminPage/adminPanelOptions";
@import "/adminPage/adminPanelTexts";
@import "/adminPage/adminPanelUsers";