.header{
    border-top: 4px solid #444;
    background: #FFF;
    border-bottom: 1px solid #F1F1F1;
    z-index: 99;
    nav {
        ul {
            li {
                padding: 5px 0;
                margin-left: 0;
            }
        }
    }
    .navbar {
        padding: 0 .5rem;
    }
    .bg-info{
        background: #fff !important;
    }
    .navbar-dark .navbar-toggler{
        color: #444;
        border-color: #444;
    }
}