
$fontscolor:#a7a599;
$loginbg:#31302b;
$headerbg:#1abc9c;
$buttoncolor:#16a085;
$buttonhover:rgba(26, 188, 156,1.0);
$iconhover:#27ae60;

.login-section{
    background-color: #676056;
    height: 100%;
}
.card{
    align-items: center;
}

input[type=text], input[type=password]{
    background: transparent;
}
